.pokemon__back {
  transform: rotateY(180deg);
}

.pokemon__back::after {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.3);
  content: '';
}

.pokemon__back:hover::after {
  background-color: rgba(0, 0, 0, 0);
}
