@import './__cards/pokemon__cards.scss';
@import './__card/pokemon__card.scss';
@import './__image/pokemon__image';
@import './__card-top/pokemon__card-top';
@import './__name/pokemon__name';
@import './__btn/pokemon__btn';
@import './__btn/_disabled/pokemon__btn_disabled';
@import './__inner/pokemon__inner';
@import './__front/pokemon__front';
@import './__back/pokemon__back';
@import './__rotate/pokemon__rotate';
@import './__link/pokemon__link';

.pokemon {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: 0 auto;
}

@media screen and (max-width: 601px) {
  .pokemon {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 0 auto;
  }
}
