.about__photo {
  position: relative;
  z-index: 2;
  width: 400px;
  height: 400px;
}

@media screen and (max-width: 921px) {
  .about__photo {
    width: 300px;
    height: 300px;
  }
}

@media screen and (max-width: 476px) {
  .about__photo {
    width: 200px;
    height: 200px;
  }
}
