.loading__img {
  width: 60px;
  height: 60px;
  animation-name: rotation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotation {
  100% {
    transform: rotate(360deg);
  }
}
