@import '../../section/mixins';
@import './_bg/pokemon__front_bg';

.pokemon__front,
.pokemon__back {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;

  background: url('http://192.168.0.105:9002/images/pokeball1.svg');
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 50%;
  background-size: 200%;
  border: 1px black dotted;
  border-radius: 15px;

  @include flex(column);
}
